<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- VueX -->
    <script src="//unpkg.com/vuex"></script>

    <!-- ES6-Promise for IE compatibility -->
    <script src="//cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

    <!-- Font-Awesome v5.11.0 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/all.min.css" integrity="sha256-DnRVj8WJwm1fq7Yvu4wdU3fRSZemGKTxfokh05bwQvw=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/js/all.js" integrity="sha256-49L4YnXE/Pto0bL/0sZ4j4ekyCA2r5K/mnY8y6U4VnI=" crossorigin="anonymous"></script>
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="//cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>

    <!-- Favicons -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Fallback Title -->
    <title>Odeyr - A Open-Source project for easy self-hosting of game servers.</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Odeyr Landing Page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
