@import 'global.less';

#footer {
  background-color: @dark-grey;
  .list-title {
    color: @light-grey;
  }

  ul {
    li {
      display: inline-block;
      a {
        color: #fff;
      }
    }
  }

  svg {
    color: @primary-color;
  }

  .container {
    padding: 40px 20px;
    hr {
      height: 15px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { 

  #footer {
    .container {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr;
      padding-top: 0;
      padding-bottom: 10px;
      & .first_row {
        display: grid;
        padding: 80px 0;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        & .uk-list {
          margin: 0 auto;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
      & .second_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 50px;
        & .left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
        }
        & .right {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          & .copyrights {
            margin-right: 60px;
          }
        }
      }
    }
  }

}

/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1199px){

  #footer {
    .container {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr;
      padding-top: 0;
      padding-bottom: 10px;
      & .first_row {
        display: grid;
        padding: 80px 0;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        & .uk-list {
          margin: 0 auto;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
      & .second_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 50px;
        & .left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
        }
        & .right {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          & .copyrights {
            margin-right: 60px;
          }
        }
      }
    }
  }

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px){

	#footer {
    .second_row {
      display: flex;
      flex-direction: column-reverse;
      & .right {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        & .copyrights {
          margin: 10px 0;
        }
      }
    }
  }

}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width: 767px){

	#footer {
    .second_row {
      display: flex;
      flex-direction: column-reverse;
      & .right {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        & .copyrights {
          margin: 10px 0;
        }
      }
    }
  }

}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) and (max-width: 479px) {

	#footer {
    .second_row {
      display: flex;
      flex-direction: column-reverse;
      & .right {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        & .copyrights {
          margin: 10px 0;
        }
      }
    }
  }

}

/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px){

	/* PUT THE CODE HERE */ 

}

/* Tall screens */
@media screen and (min-height: 800px) and (max-height:899px){

	/* PUT THE CODE HERE */ 

}

/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px){

	/* PUT THE CODE HERE */ 

}

/* Small-height screens */
@media screen and (max-height: 499px) {

	/* PUT THE CODE HERE */ 

}