@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}
* {
  font-family: 'Oxygen';
}
h1.purpleLight,
h2.purpleLight,
h3.purpleLight,
h4.purpleLight,
p.purpleLight {
  color: #7E6C92;
}
h1.purpleDark,
h2.purpleDark,
h3.purpleDark,
h4.purpleDark,
p.purpleDark {
  color: #453B58;
}
a {
  color: #7E6C92;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #453B58;
}
button.white,
.a_button.white {
  background-color: white;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
button.white h3,
.a_button.white h3,
button.white p,
.a_button.white p,
button.white svg,
.a_button.white svg {
  color: #453B58;
}
button.white:hover,
.a_button.white:hover {
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
}
button.white:hover h3,
.a_button.white:hover h3,
button.white:hover p,
.a_button.white:hover p,
button.white:hover svg,
.a_button.white:hover svg {
  color: white;
}
button.purpleDark,
.a_button.purpleDark {
  background-color: #453B58;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleDark h3,
.a_button.purpleDark h3,
button.purpleDark p,
.a_button.purpleDark p,
button.purpleDark svg,
.a_button.purpleDark svg {
  color: white;
}
button.purpleDark:hover,
.a_button.purpleDark:hover {
  background-color: #7E6C92;
  text-decoration: none;
  transition: all 0.5s ease;
}
button.purpleLight,
.a_button.purpleLight {
  background-color: #7E6C92;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleLight h3,
.a_button.purpleLight h3,
button.purpleLight p,
.a_button.purpleLight p,
button.purpleLight svg,
.a_button.purpleLight svg {
  color: white;
}
button.purpleLight:hover,
.a_button.purpleLight:hover {
  background-color: #453B58;
  text-decoration: none;
  transition: all 0.5s ease;
}
#footer {
  background-color: #333333;
}
#footer .list-title {
  color: #cdcdcd;
}
#footer ul li {
  display: inline-block;
}
#footer ul li a {
  color: #fff;
}
#footer svg {
  color: #7E6C92;
}
#footer .container {
  padding: 40px 20px;
}
#footer .container hr {
  height: 15px;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #footer .container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-bottom: 10px;
  }
  #footer .container .first_row {
    display: grid;
    padding: 80px 0;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  #footer .container .first_row .uk-list {
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #footer .container .second_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 50px;
  }
  #footer .container .second_row .left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #footer .container .second_row .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #footer .container .second_row .right .copyrights {
    margin-right: 60px;
  }
}
/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #footer .container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-bottom: 10px;
  }
  #footer .container .first_row {
    display: grid;
    padding: 80px 0;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  #footer .container .first_row .uk-list {
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #footer .container .second_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 50px;
  }
  #footer .container .second_row .left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #footer .container .second_row .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #footer .container .second_row .right .copyrights {
    margin-right: 60px;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #footer .second_row {
    display: flex;
    flex-direction: column-reverse;
  }
  #footer .second_row .right {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  #footer .second_row .right .copyrights {
    margin: 10px 0;
  }
}
/* Extra Small Devices, Phones */
@media (min-width: 480px) and (max-width: 767px) {
  #footer .second_row {
    display: flex;
    flex-direction: column-reverse;
  }
  #footer .second_row .right {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  #footer .second_row .right .copyrights {
    margin: 10px 0;
  }
}
/* Custom, iPhone Retina */
@media screen and (min-width: 320px) and (max-width: 479px) {
  #footer .second_row {
    display: flex;
    flex-direction: column-reverse;
  }
  #footer .second_row .right {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  #footer .second_row .right .copyrights {
    margin: 10px 0;
  }
}
/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px) {
  /* PUT THE CODE HERE */
}
/* Tall screens */
@media screen and (min-height: 800px) and (max-height: 899px) {
  /* PUT THE CODE HERE */
}
/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px) {
  /* PUT THE CODE HERE */
}
/* Small-height screens */
@media screen and (max-height: 499px) {
  /* PUT THE CODE HERE */
}
