@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

@primary-color:#7E6C92;
@secondary-color:#453B58;
@light-grey:#cdcdcd;
@medium-grey:#696B75;
@dark-grey:#333333;

* {
  font-family: 'Oxygen'
}

h1, h2, h3, h4, p {
  &.purpleLight {
    color: @primary-color;
  }
  &.purpleDark {
    color: @secondary-color;
  }
}

a {
  color: @primary-color;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: @secondary-color;
  }
}

button, .a_button {
  &.white {
    background-color: white;
    border: 2px solid transparent;
    transition: all .5s ease;
    & h3, & p, & svg {
      color: @secondary-color;
    }
    &:hover {
      background-color: transparent;
      border: 2px solid white;
      text-decoration: none;
      & h3, & p, & svg {
        color: white;
      }
    }
  }
  &.purpleDark {
    background-color: @secondary-color;
    border: 0;
    transition: all .5s ease;
    & h3, & p, & svg {
      color: white;
    }
    &:hover {
      background-color: @primary-color;
      text-decoration: none;
      transition: all .5s ease;
    }
  }
  &.purpleLight {
    background-color: @primary-color;
    border: 0;
    transition: all .5s ease;
    & h3, & p, & svg {
      color: white;
    }
    &:hover {
      background-color: @secondary-color;
      text-decoration: none;
      transition: all .5s ease;
    }
  }
}