@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}
* {
  font-family: 'Oxygen';
}
h1.purpleLight,
h2.purpleLight,
h3.purpleLight,
h4.purpleLight,
p.purpleLight {
  color: #7E6C92;
}
h1.purpleDark,
h2.purpleDark,
h3.purpleDark,
h4.purpleDark,
p.purpleDark {
  color: #453B58;
}
a {
  color: #7E6C92;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #453B58;
}
button.white,
.a_button.white {
  background-color: white;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
button.white h3,
.a_button.white h3,
button.white p,
.a_button.white p,
button.white svg,
.a_button.white svg {
  color: #453B58;
}
button.white:hover,
.a_button.white:hover {
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
}
button.white:hover h3,
.a_button.white:hover h3,
button.white:hover p,
.a_button.white:hover p,
button.white:hover svg,
.a_button.white:hover svg {
  color: white;
}
button.purpleDark,
.a_button.purpleDark {
  background-color: #453B58;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleDark h3,
.a_button.purpleDark h3,
button.purpleDark p,
.a_button.purpleDark p,
button.purpleDark svg,
.a_button.purpleDark svg {
  color: white;
}
button.purpleDark:hover,
.a_button.purpleDark:hover {
  background-color: #7E6C92;
  text-decoration: none;
  transition: all 0.5s ease;
}
button.purpleLight,
.a_button.purpleLight {
  background-color: #7E6C92;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleLight h3,
.a_button.purpleLight h3,
button.purpleLight p,
.a_button.purpleLight p,
button.purpleLight svg,
.a_button.purpleLight svg {
  color: white;
}
button.purpleLight:hover,
.a_button.purpleLight:hover {
  background-color: #453B58;
  text-decoration: none;
  transition: all 0.5s ease;
}
.first_view {
  background: linear-gradient(rgba(22, 25, 40, 0.5)), url('../images/milky-way-2695569_1920.jpg');
}
.first_view h2,
.first_view h3 {
  color: #fff;
}
.first_view .mobile {
  padding: 40px 20px;
}
.first_view .mobile .button button {
  display: flex;
  align-items: center;
}
.first_view .mobile .button svg {
  font-size: 1.2rem;
  line-height: 1.4;
}
.banner .pc {
  background-color: #453B58;
}
.banner .pc h3 {
  color: #fff;
}
.banner .mobile {
  background-color: #453B58;
}
.banner .mobile p {
  color: #fff;
}
.second_view .mobile hr {
  height: 2px;
  background-color: #cdcdcd;
  border: 0;
}
.third_view {
  background: linear-gradient(rgba(22, 25, 40, 0.5)), url('../images/astronomy-1867616_1920.jpg');
}
.third_view h1,
.third_view h2,
.third_view h3,
.third_view h4 {
  color: #fff;
}
.third_view .learn-more {
  position: relative;
}
.third_view .learn-more::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.5s ease;
}
.third_view .learn-more:hover {
  cursor: pointer;
}
.third_view .learn-more:hover::before,
.third_view .learn-more.active::before {
  width: 100%;
  transition: all 0.5s ease;
}
.third_view .dropdown {
  background-color: #333333;
  padding: 20px;
}
.third_view .mobile {
  color: #fff;
}
.fourth_view {
  padding: 50px 20px;
}
.fourth_view div p {
  color: #000;
}
.fourth_view div ul li:not(:last-child) {
  margin-bottom: 20px;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #home .mobile {
    display: none;
  }
  #home .first_view {
    min-height: calc(100vh - 102px);
  }
  #home .first_view .pc {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: calc(100vh - 102px);
    justify-content: center;
  }
  #home .first_view .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
  }
  #home .first_view .left .text {
    width: 85%;
    text-align: left;
  }
  #home .first_view .left .buttons {
    width: 85%;
    display: flex;
  }
  #home .first_view .left .buttons .button:last-child a svg {
    transition: all 0.2s linear;
  }
  #home .first_view .left .buttons .button:last-child a:hover svg {
    margin-left: 20px;
    transition: all 0.2s linear;
  }
  #home .first_view .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .first_view .right img {
    height: calc(80vh - 102px);
  }
  #home .banner h3 {
    padding: 10px 0;
  }
  #home .second_view {
    padding: 80px 0;
  }
  #home .third_view {
    min-height: 80vh;
  }
  #home .third_view .pc {
    min-height: 80vh;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
  }
  #home .third_view .title {
    padding-top: 50px;
  }
  #home .third_view ul.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
  }
  #home .third_view ul.cards .uk-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
  }
  #home .third_view ul.cards .uk-card img {
    margin: auto;
    height: 200px;
    padding: 30px;
  }
  #home .third_view ul.cards .uk-card h4 {
    margin: auto;
    width: max-content;
    height: max-content;
  }
  #home .third_view ul.cards .dropdown {
    display: inline-block;
    color: white;
  }
  #home .fourth_view {
    padding: 100px 20px;
  }
  #home .fourth_view p {
    font-size: 20px;
  }
  #home .fourth_view .buttons {
    display: flex;
    margin-top: 40px;
    margin: 40px auto auto auto;
    justify-content: center;
  }
  #home .fourth_view .buttons .button {
    width: 250px;
  }
  #home .fourth_view .buttons .button:first-child {
    margin-right: 60px;
  }
}
/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #home .mobile {
    display: none;
  }
  #home .first_view {
    min-height: calc(100vh - 102px);
  }
  #home .first_view .pc {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: calc(100vh - 102px);
    justify-content: center;
  }
  #home .first_view .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
  }
  #home .first_view .left .text {
    width: 100%;
    text-align: left;
  }
  #home .first_view .left .buttons {
    width: 100%;
    display: flex;
  }
  #home .first_view .left .buttons .button:last-child a svg {
    transition: all 0.2s linear;
  }
  #home .first_view .left .buttons .button:last-child a:hover svg {
    margin-left: 5px;
    transition: all 0.2s linear;
  }
  #home .first_view .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .first_view .right img {
    height: calc(80vh - 102px);
  }
  #home .banner h3 {
    padding: 10px 0;
  }
  #home .second_view {
    padding: 80px 0;
  }
  #home .third_view {
    min-height: 80vh;
    padding-bottom: 50px;
  }
  #home .third_view .pc {
    min-height: 80vh;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
  }
  #home .third_view .title {
    padding-top: 50px;
  }
  #home .third_view ul.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
  }
  #home .third_view ul.cards .uk-card {
    display: grid;
    grid-template-rows: 0.5fr 1fr auto;
    justify-content: center;
  }
  #home .third_view ul.cards .uk-card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #home .third_view ul.cards .uk-card img {
    margin: auto;
    height: 200px;
    padding: 30px;
  }
  #home .third_view ul.cards .uk-card h4 {
    margin: auto;
    width: max-content;
    height: max-content;
  }
  #home .third_view ul.cards .dropdown {
    display: inline-block;
    color: white;
  }
  #home .fourth_view {
    padding: 100px 20px;
  }
  #home .fourth_view p {
    font-size: 20px;
  }
  #home .fourth_view .buttons {
    display: flex;
    margin-top: 40px;
    margin: 40px auto auto auto;
    justify-content: center;
  }
  #home .fourth_view .buttons .button {
    width: 250px;
  }
  #home .fourth_view .buttons .button:first-child {
    margin-right: 60px;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #home .pc {
    display: none;
  }
  #home .first_view .mobile {
    width: 80%;
    min-height: 30vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #home .first_view .mobile .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  }
  #home .first_view .mobile .buttons .button {
    width: 50%;
  }
  #home .first_view .mobile .buttons .button:first-child {
    margin-right: 20px;
  }
  #home .banner {
    font-size: 22px;
  }
  #home .second_view h3 {
    font-size: 30px;
  }
  #home .second_view p {
    font-size: 20px;
  }
  #home .third_view .uk-list li {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  #home .third_view .uk-list li img {
    transform: scale(1.1);
  }
  #home .fourth_view p {
    font-size: 20px;
  }
  #home .fourth_view .buttons {
    margin: 40px auto auto auto;
  }
  #home .fourth_view .buttons .button {
    width: 350px;
    margin: auto;
  }
  #home .fourth_view .buttons .button:first-child {
    margin-bottom: 10px;
  }
}
/* Extra Small Devices, Phones */
@media (min-width: 480px) and (max-width: 767px) {
  #home .pc {
    display: none;
  }
  #home .first_view .buttons .button:first-child {
    margin-bottom: 10px;
  }
  #home .fourth_view p {
    font-size: 20px;
  }
  #home .fourth_view .buttons {
    margin: 40px auto auto auto;
  }
  #home .fourth_view .buttons .button {
    width: 350px;
    margin: auto;
  }
  #home .fourth_view .buttons .button:first-child {
    margin-bottom: 10px;
  }
}
/* Custom, iPhone Retina */
@media screen and (min-width: 320px) and (max-width: 479px) {
  #home .pc {
    display: none;
  }
  #home .first_view .buttons .button:first-child {
    margin-bottom: 10px;
  }
  #home .fourth_view p {
    font-size: 20px;
  }
  #home .fourth_view .buttons {
    margin: 40px auto auto auto;
  }
  #home .fourth_view .buttons .button {
    width: 350px;
    margin: auto;
  }
  #home .fourth_view .buttons .button:first-child {
    margin-bottom: 10px;
  }
}
/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px) {
  /* PUT THE CODE HERE */
}
/* Tall screens */
@media screen and (min-height: 800px) and (max-height: 899px) {
  /* PUT THE CODE HERE */
}
/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px) {
  /* PUT THE CODE HERE */
}
/* Small-height screens */
@media screen and (max-height: 499px) {
  /* PUT THE CODE HERE */
}
