@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}
* {
  font-family: 'Oxygen';
}
h1.purpleLight,
h2.purpleLight,
h3.purpleLight,
h4.purpleLight,
p.purpleLight {
  color: #7E6C92;
}
h1.purpleDark,
h2.purpleDark,
h3.purpleDark,
h4.purpleDark,
p.purpleDark {
  color: #453B58;
}
a {
  color: #7E6C92;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #453B58;
}
button.white,
.a_button.white {
  background-color: white;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
button.white h3,
.a_button.white h3,
button.white p,
.a_button.white p,
button.white svg,
.a_button.white svg {
  color: #453B58;
}
button.white:hover,
.a_button.white:hover {
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
}
button.white:hover h3,
.a_button.white:hover h3,
button.white:hover p,
.a_button.white:hover p,
button.white:hover svg,
.a_button.white:hover svg {
  color: white;
}
button.purpleDark,
.a_button.purpleDark {
  background-color: #453B58;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleDark h3,
.a_button.purpleDark h3,
button.purpleDark p,
.a_button.purpleDark p,
button.purpleDark svg,
.a_button.purpleDark svg {
  color: white;
}
button.purpleDark:hover,
.a_button.purpleDark:hover {
  background-color: #7E6C92;
  text-decoration: none;
  transition: all 0.5s ease;
}
button.purpleLight,
.a_button.purpleLight {
  background-color: #7E6C92;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleLight h3,
.a_button.purpleLight h3,
button.purpleLight p,
.a_button.purpleLight p,
button.purpleLight svg,
.a_button.purpleLight svg {
  color: white;
}
button.purpleLight:hover,
.a_button.purpleLight:hover {
  background-color: #453B58;
  text-decoration: none;
  transition: all 0.5s ease;
}
#navbar {
  border-bottom: 2px solid #cdcdcd;
}
#navbar .pc {
  display: flex;
}
#navbar .pc .link p,
#navbar .pc .link h3,
#navbar .pc .link h4,
#navbar .pc .link svg {
  color: #333333;
  margin-bottom: 0;
}
#navbar .pc .link:hover p,
#navbar .pc .link:hover h3,
#navbar .pc .link:hover h4,
#navbar .pc .link:hover svg {
  color: #7E6C92;
}
#navbar .pc .left,
#navbar .pc .right {
  display: flex;
}
#navbar .pc .left {
  margin-left: 50px;
}
#navbar .pc .right {
  margin-right: 50px;
}
#navbar .pc .list {
  margin-left: 80px;
}
#navbar .pc .list ul {
  display: flex;
  align-items: center;
}
#navbar .pc .list li {
  margin-bottom: 0;
  margin-top: 0;
}
#navbar .pc .list li a svg {
  font-size: 10px;
  margin-left: 5px;
  color: #333333;
}
#navbar .pc .list li a.router-link-exact-active h4 {
  color: #7E6C92;
}
#navbar .pc .list li:not(:last-child) {
  margin-right: 40px;
}
#navbar .mobile {
  padding: 10px 0;
}
#navbar .mobile svg {
  color: #453B58;
  font-size: 25px;
}
#navbar .mobile_offcanvas .uk-close {
  color: white;
}
#navbar .mobile_offcanvas li {
  margin-top: 0;
}
#navbar .mobile_offcanvas li a {
  display: inline-flex;
  justify-content: center;
  width: auto;
  padding: 5px 0;
}
#navbar .mobile_offcanvas li a svg {
  margin-left: 8px;
  font-size: 12px;
}
#navbar .mobile_offcanvas li a.router-link-exact-active {
  display: flex;
  justify-content: center;
  border-left: 8px solid #7E6C92;
  border-right: 8px solid transparent;
  background-color: #333333;
}
#navbar .mobile_offcanvas li h3 {
  margin: 0;
}
#navbar .mobile_offcanvas li:not(:last-child) {
  margin-bottom: 5px;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #navbar .mobile {
    display: none;
  }
}
/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar .mobile {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #navbar .pc {
    display: none;
  }
}
/* Extra Small Devices, Phones */
@media (min-width: 480px) and (max-width: 767px) {
  #navbar .pc {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media screen and (min-width: 320px) and (max-width: 479px) {
  #navbar .pc {
    display: none;
  }
}
/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px) {
  /* PUT THE CODE HERE */
}
/* Tall screens */
@media screen and (min-height: 800px) and (max-height: 899px) {
  /* PUT THE CODE HERE */
}
/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px) {
  /* PUT THE CODE HERE */
}
/* Small-height screens */
@media screen and (max-height: 499px) {
  /* PUT THE CODE HERE */
}
