@import 'global.less';


#navbar {
  .pc {
    display: flex;
    & .link {
      & p, & h3, & h4, & svg{
        color: @dark-grey;
        margin-bottom: 0;
      }
      &:hover {
        & p, & h3, & h4, & svg {
          color: @primary-color;
        }
      }
    }
    & .left, & .right {
      display: flex;
    }
    & .left {
      margin-left: 50px;
    }
    & .right {
      margin-right: 50px;
    }
    & .list {
      margin-left: 80px;
      & ul {
        display: flex;
        align-items: center;
      }
      & li {
        margin-bottom: 0;
        margin-top: 0;
        & a {
          & svg {
            font-size: 10px;
            margin-left: 5px;
            color: @dark-grey;
          }
          &.router-link-exact-active {
            & h4 {
              color: @primary-color;
            }
          }
        }
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }
  .mobile {
    padding: 10px 0;
    & svg {
      color: @secondary-color;
      font-size: 25px;
    }
  }
  .mobile_offcanvas {
    & .uk-close {
      color: white;
    }
    & li {
      margin-top: 0;
      & a {
        display: inline-flex;
        justify-content: center;
        width: auto;
        padding: 5px 0;
        & svg {
          margin-left: 8px;
          font-size: 12px;
        }
        &.router-link-exact-active {
          display: flex;
          justify-content: center;
          border-left: 8px solid @primary-color;
          border-right: 8px solid transparent;
          background-color: @dark-grey;
        }
      }
      & h3 {
        margin: 0;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  border-bottom: 2px solid @light-grey;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { 

	#navbar {
    .mobile {
      display: none;
    }
  }

}

/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1199px){

	#navbar {
    .mobile {
      display: none;
    }
  }

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px){

	#navbar {
    .pc {
      display: none;
    }
  }

}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width: 767px){

	#navbar {
    .pc {
      display: none;
    }
  }

}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) and (max-width: 479px) {

	#navbar {
    .pc {
      display: none;
    }
  }

}

/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px){

	/* PUT THE CODE HERE */ 

}

/* Tall screens */
@media screen and (min-height: 800px) and (max-height:899px){

	/* PUT THE CODE HERE */ 

}

/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px){

	/* PUT THE CODE HERE */ 

}

/* Small-height screens */
@media screen and (max-height: 499px) {

	/* PUT THE CODE HERE */ 

}