@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}
* {
  font-family: 'Oxygen';
}
h1.purpleLight,
h2.purpleLight,
h3.purpleLight,
h4.purpleLight,
p.purpleLight {
  color: #7E6C92;
}
h1.purpleDark,
h2.purpleDark,
h3.purpleDark,
h4.purpleDark,
p.purpleDark {
  color: #453B58;
}
a {
  color: #7E6C92;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #453B58;
}
button.white {
  background-color: white;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
button.white h3,
button.white p,
button.white svg {
  color: #453B58;
}
button.white:hover {
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
}
button.white:hover h3,
button.white:hover p,
button.white:hover svg {
  color: white;
}
button.purpleDark {
  background-color: #453B58;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleDark h3,
button.purpleDark p,
button.purpleDark svg {
  color: white;
}
button.purpleDark:hover {
  background-color: #7E6C92;
  text-decoration: none;
  transition: all 0.5s ease;
}
button.purpleLight {
  background-color: #7E6C92;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleLight h3,
button.purpleLight p,
button.purpleLight svg {
  color: white;
}
button.purpleLight:hover {
  background-color: #453B58;
  text-decoration: none;
  transition: all 0.5s ease;
}
#patreon-contributors .title {
  position: relative;
  padding-bottom: 5px;
}
#patreon-contributors .title::before {
  position: absolute;
  width: 10%;
  height: 4px;
  background-color: #7E6C92;
  content: '';
  left: 0;
  bottom: 0;
}
#patreon-contributors .tier-title {
  position: relative;
}
#patreon-contributors .tier-title::before {
  position: absolute;
  width: 5%;
  height: 2px;
  background-color: #333333;
  content: '';
  left: 0;
  bottom: 0;
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* PUT THE CODE HERE */
}
/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* PUT THE CODE HERE */
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #patreon-contributors .pc {
    display: none;
  }
}
/* Extra Small Devices, Phones */
@media (min-width: 480px) and (max-width: 767px) {
  #patreon-contributors .pc {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media screen and (min-width: 320px) and (max-width: 479px) {
  #patreon-contributors .pc {
    display: none;
  }
}
/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px) {
  /* PUT THE CODE HERE */
}
/* Tall screens */
@media screen and (min-height: 800px) and (max-height: 899px) {
  /* PUT THE CODE HERE */
}
/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px) {
  /* PUT THE CODE HERE */
}
/* Small-height screens */
@media screen and (max-height: 499px) {
  /* PUT THE CODE HERE */
}
