@import 'global.less';

#patreon-contributors {
  .title {
    position: relative;
    padding-bottom: 5px;
    &::before {
      position: absolute;
      width: 10%;
      height: 4px;
      background-color: @primary-color;
      content: '';
      left: 0;
      bottom: 0;
    }
  }
  .tier-title {
    position: relative;
    &::before {
      position: absolute;
      width: 5%;
      height: 2px;
      background-color: @dark-grey;
      content: '';
      left: 0;
      bottom: 0;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { 

	/* PUT THE CODE HERE */ 

}

/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1199px){

	/* PUT THE CODE HERE */ 

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px){

	#patreon-contributors {
    .pc {
      display: none;
    }
  }

}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width: 767px){

	#patreon-contributors {
    .pc {
      display: none;
    }
  }

}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) and (max-width: 479px) {

	#patreon-contributors {
    .pc {
      display: none;
    }
  }

}

/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px){

	/* PUT THE CODE HERE */ 

}

/* Tall screens */
@media screen and (min-height: 800px) and (max-height:899px){

	/* PUT THE CODE HERE */ 

}

/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px){

	/* PUT THE CODE HERE */ 

}

/* Small-height screens */
@media screen and (max-height: 499px) {

	/* PUT THE CODE HERE */ 

}