<template>
  <div id="home">
    <div class="first_view">
      <div class="pc">
        <div class="left">
          <h2 class="text">The <b>Odeyr</b> Platform is a free and open-source project aimed at making self-hosting of game servers <b>easier</b>.</h2>
          <div class="buttons uk-width-full">
            <div class="button uk-width-1-3 uk-padding-remove-horizontal">
              <a href="//dashboard.odeyr.org/signup" class="a_button purpleLight uk-padding-small uk-width-full uk-flex uk-flex-middle uk-flex-center">
                <h2 class="uk-margin-remove-vertical uk-margin-auto uk-text-center">Sign Up</h2>
              </a>
            </div>
            <div class="button uk-width-1-3 uk-padding-remove-horizontal uk-margin-small-left">
              <a href="//gitlab.com/odeyr" class="uk-padding-small uk-width-full uk-flex uk-flex-middle uk-flex-center">
                <h2>GitLab <i class="fas fa-arrow-right"></i></h2>
              </a>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="image">
            <img src="@/assets/images/logos/LogoDetailed.png">
          </div>
        </div>
      </div>
      <div class="mobile">
        <h2>The <b>Odeyr</b> Platform is a free and open-source project aimed at making self-hosting of game servers <b>easier</b>.</h2>
        <div class="buttons">
          <div class="button uk-padding-remove-horizontal">
            <a href="//dashboard.odeyr.org/signup" class="a_button white uk-flex uk-flex-middle uk-flex-center uk-padding-small uk-width-full">
              <h3 class="uk-margin-remove-vertical">Sign Up</h3>
            </a>
          </div>
          <div class="button uk-padding-remove-horizontal">
            <a href="//gitlab.com/odeyr" class="a_button white uk-padding-small uk-width-full uk-flex uk-flex-middle uk-flex-center">
              <h3 class="uk-margin-remove-vertical uk-margin-small-right">GitLab</h3>
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="pc">
        <h3 class="uk-margin-remove">To this date, we only support officially Minecraft servers</h3>
      </div>
      <div class="mobile uk-padding-small">
        <p class="uk-margin-remove">To this date, we only support officially Minecraft servers</p>
      </div>
    </div>
    <div class="second_view">
      <div class="pc">
        <div class="flexbox uk-flex uk-flex-center uk-flex-middle uk-width-2-3 uk-margin-auto">
          <div class="uk-card uk-width-1-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <h3 class="uk-margin-remove">100% Free</h3>
            <p class="uk-margin-remove-top uk-margin-small-bottom">Open source on <b>Gitlab</b></p>
            <img src="../assets/images/gitlab-icon-rgb 1.svg" alt="gitlab icon" class="uk-margin-small">
          </div>
          <div class="uk-card uk-width-1-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <h3 class="uk-margin-remove">Remote access</h3>
            <p class="uk-margin-remove-top uk-margin-small-bottom">Access your <b>self-hosted</b> server</p>
            <img src="../assets/images/desktop-solid 1.svg" alt="desktop icon" class="uk-margin-small">
          </div>
          <div class="uk-card uk-width-1-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <h3 class="uk-margin-remove">Easy-to-use</h3>
            <p class="uk-margin-remove-top uk-margin-small-bottom">User-<b>Friendly</b> Interface</p>
            <img src="../assets/images/coffee-solid 1.svg" alt="coffee icon" class="uk-margin-small">
          </div>
        </div>
      </div>
      <div class="mobile uk-margin-xlarge-top uk-margin-xlarge-bottom">
        <div class="flexbox uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-width-1-1 uk-margin-auto">
          <div class="uk-card uk-width-2-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-large-bottom">
            <h3 class="uk-margin-remove">100% Free</h3>
            <p class="uk-margin-remove-top uk-margin-small-bottom">Open source on <b>Gitlab</b></p>
            <img src="../assets/images/gitlab-icon-rgb 1.svg" alt="gitlab icon" class="uk-margin-small">
          </div>
          <hr class="uk-width-2-3 uk-margin-medium-bottom">
          <div class="uk-card uk-width-2-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-large-bottom">
            <h3 class="uk-margin-remove">Remote access</h3>
            <p class="uk-margin-remove-top uk-margin-small-bottom">Access your <b>self-hosted</b> server</p>
            <img src="../assets/images/desktop-solid 1.svg" alt="desktop icon" class="uk-margin-small">
          </div>
          <hr class="uk-width-2-3 uk-margin-medium-bottom">
          <div class="uk-card uk-width-2-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle">
            <h3 class="uk-margin-remove">Easy-to-use</h3>
            <p class="uk-margin-remove-top uk-margin-small-bottom">User-<b>Friendly</b> Interface</p>
            <img src="../assets/images/coffee-solid 1.svg" alt="coffee icon" class="uk-margin-small">
          </div>
        </div>
      </div>
    </div>
    <div class="third_view">
      <div class="pc">
        <div class="title">
          <h2><b>The Odeyr Platform</b></h2>
        </div>
        <ul class="cards">
          <li>
            <div class="uk-card uk-width-1-1">
              <h2 class="uk-margin-remove">Discord Bot</h2>
              <img src="../assets/images/Discord-Logo-White 1.svg" alt="discord icon">
              <h4 class="learn-more uk-margin-remove-top uk-margin-small-bottom" :class="{ active: isDiscordBotDropdownOpen }" @click="isDiscordBotDropdownOpen = !isDiscordBotDropdownOpen">Learn More</h4>
            </div>
            <div class="dropdown" v-if="isDiscordBotDropdownOpen === true">
              <ul class="uk-list uk-text-left uk-margin-remove">
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Auto share IPs</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Polls</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Server Commands</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Alerts</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="uk-card uk-width-1-1">
              <h2 class="uk-margin-remove">Command Line Interface</h2>
              <img src="../assets/images/terminal-solid 1.svg" alt="cli icon">
              <h4 class="learn-more uk-margin-remove-top uk-margin-small-bottom" :class="{ active: isCLIDropdownOpen }" @click="isCLIDropdownOpen = !isCLIDropdownOpen">Learn More</h4>
            </div>
            <div class="dropdown" v-if="isCLIDropdownOpen === true">
              <ul class="uk-list uk-text-left uk-margin-remove">
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Simple Commands</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Cross-Platform</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="uk-card uk-width-1-1">
              <h2 class="uk-margin-remove">Dashboard</h2>
              <img src="../assets/images/window-maximize-regular 1.svg" alt="dashboard icon">
              <h4 class="learn-more uk-margin-remove-top uk-margin-small-bottom" :class="{ active: isDesktopDropdownOpen }" @click="isDesktopDropdownOpen = !isDesktopDropdownOpen">Learn More</h4>
            </div>
            <div class="dropdown" v-if="isDesktopDropdownOpen === true">
              <ul class="uk-list uk-text-left uk-margin-remove">
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Cross-Browser</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Fast & Simple</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Monitoring</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Player Management</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="mobile uk-padding-large uk-padding-remove-left uk-padding-remove-right">
        <div class="title">
          <h2><b>The Odeyr Platform</b></h2>
        </div>
        <div class="flexbox uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-width-1-1 uk-margin-auto">
          <div class="uk-card uk-width-2-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-xlarge-bottom">
            <h2 class="uk-margin-remove">Discord Bot</h2>
            <img src="../assets/images/Discord-Logo-White 1.svg" alt="discord icon" class="uk-margin-small">
            <h4 class="learn-more uk-margin-remove-top uk-margin-small-bottom" :class="{ active: isDiscordBotDropdownOpen }" @click="isDiscordBotDropdownOpen = !isDiscordBotDropdownOpen">Learn More</h4>
            <div class="dropdown" v-if="isDiscordBotDropdownOpen === true">
              <ul class="uk-list uk-text-left uk-margin-remove">
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Auto share IPs</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Polls</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Server Commands</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Alerts</li>
              </ul>
            </div>
          </div>
          <div class="uk-card uk-width-2-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-xlarge-bottom">
            <h2 class="uk-margin-remove">Command Line Interface</h2>
            <img src="../assets/images/terminal-solid 1.svg" alt="cli icon" class="uk-margin-small">
            <h4 class="learn-more uk-margin-remove-top uk-margin-small-bottom" :class="{ active: isCLIDropdownOpen }" @click="isCLIDropdownOpen = !isCLIDropdownOpen">Learn More</h4>
            <div class="dropdown" v-if="isCLIDropdownOpen === true">
              <ul class="uk-list uk-text-left uk-margin-remove">
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Simple Commands</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Cross-Platform</li>
              </ul>
            </div>
          </div>
          <div class="uk-card uk-width-2-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-margin-large-bottom">
            <h2 class="uk-margin-remove">Dashboard</h2>
            <img src="../assets/images/window-maximize-regular 1.svg" alt="cli icon" class="uk-margin-small">
            <h4 class="learn-more uk-margin-remove-top uk-margin-small-bottom" :class="{ active: isDesktopDropdownOpen }" @click="isDesktopDropdownOpen = !isDesktopDropdownOpen">Learn More</h4>
            <div class="dropdown" v-if="isDesktopDropdownOpen === true">
              <ul class="uk-list uk-text-left uk-margin-remove">
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Cross-Browser</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Fast & Simple</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Monitoring</li>
                <li><img src="../assets/images/star-solid 1.svg" alt="star icon" class="uk-margin-small-right">Player Management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fourth_view">
      <div>
        <p>Odeyr is thankful to its <b>Sponsors</b> and <router-link :to="{ name: 'patreons' }"><b>Patreons</b></router-link></p>
        <ul class="uk-list uk-width-3-4 uk-margin-auto uk-flex uk-flex-center uk-flex-middle uk-flex-column">
          <li><a href="//www.squaretymedia.com"><img src="../assets/images/squaretymedia-logo-color 1.png" alt="squarety media logo"></a></li>
        </ul>
        <div class="buttons">
          <div class="button uk-padding-remove-horizontal uk-width-3-4">
            <a href="//patreonlink/odeyr" class="a_button purpleLight uk-padding-small uk-width-full uk-flex uk-flex-middle uk-flex-center">
              <h3 class="uk-margin-remove-vertical">Become a Sponsor</h3>
            </a>
          </div>
          <div class="button uk-padding-remove-horizontal uk-width-3-4">
            <router-link :to="{ name: 'patreons' }" class="a_button purpleLight uk-padding-small uk-width-full uk-flex uk-flex-middle uk-flex-center">
              <h3 class="uk-margin-remove-vertical">List of Patreons</h3>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped src="../assets/css/home.css"></style>
<script>
export default {
  name: 'Home',
  data() {
    return {
      isDiscordBotDropdownOpen: false,
      isCLIDropdownOpen: false,
      isDesktopDropdownOpen: false
    }
  }
}
</script>
