<template>
  <div id="footer">
    <div class="container">
      <div class="first_row uk-width-3-4 uk-margin-auto">
        <ul class="uk-list uk-flex uk-flex-column">
          <li class="list-title"><b>For Server Owners</b></li>
          <li><a href="//docs.odeyr.org/get-started">Getting Started</a></li>
          <li><a href="//docs.odeyr.org/tutorials">Tutorials</a></li>
        </ul>
        <ul class="uk-list uk-flex uk-flex-column">
          <li class="list-title"><b>For Developers</b></li>
          <li><a href="//gitlab.com/odeyr" target="_blank">GitLab Repository</a></li>
          <li><a href="//gitlab.com/odeyr/CONTRIBUTING.md" target="_blank">Contributing Guide</a></li>
        </ul>
      </div>
      <div class="second_row">
        <div class="left">
          <p class="uk-margin-remove" style="color: #fff;">Contribution by <a href="//squaretymedia.com" target="_blank"><b>Squarety Média</b></a> with <i class="fas fa-heart"></i> & <i class="fas fa-coffee"></i></p>
        </div>
        <div class="right">
          <p class="copyrights uk-margin-remove-top uk-margin-remove-bottom" style="color: #fff;">Copyright © {{ new Date().getFullYear() }} Odeyr</p>
          <div class="flexbox uk-flex uk-flex-middle uk-flex-center">
            <router-link :to="{ name: 'terms' }" style="color: #fff;">Terms</router-link>
            <hr class="uk-divider-vertical uk-margin-remove-top uk-margin-remove-bottom uk-margin-small-left uk-margin-small-right">
            <router-link :to="{ name: 'privacy' }" style="color: #fff;">Privacy</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped src="../assets/css/footer.css"></style>
<script>
export default {
  name: 'Footer'
}
</script>
