<template>
  <div id="app">
    <Navbar></Navbar>
    <router-view/>
    <Footer></Footer>
  </div>
</template>
<style src="@/assets/css/global.css"></style>

<style>
#app {
  font-family: 'Oxygen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
<script>
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue'

export default {
  components: {
    Navbar,
    Footer
  },
  metaInfo() {
    return {
      title: 'Odeyr - A Open-Source project for easy self-hosting of game servers.',
      titleTemplate: null,
      meta: [
        { name: 'description', content: 'The Odeyr Platform is a free and open-source project aimed at making self-hosting of game servers easier.' }
      ]
    }
  }
}
</script>
